body {
  background-color: #efefef;
  color: rgb(105, 105, 105);
  padding: 60px;
  font-family: Arial;
  text-align: center;
}
div.choose {
  text-align: center;
  padding: 10px 20px;
}

button {
  padding: 0px;
  margin: 10px;
  width: 30%;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  border-radius: 50%;
}

img {
  width: 100%;
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  border-radius: 50%;
}

div.gameInfo{
  background: white;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.8;
}

.reset {
  text-transform: uppercase;
  border-color: #ff9800;
  color: orange;
  margin-left: auto;
  margin-right:0px;
  float: right;
  margin: 15px;
  padding: 10px;
}

.reset:hover {
  background: #ff9800;
  color: white;

}

