body {
  text-align: center;
}

.Dark {
  background:  rgb(16, 37, 17);
  width: 100vw;
  min-height: 100vh;
}

.Light {
  background:  rgb(231, 240, 231);
}

.App {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100vw;
  max-width: 1000px;
  color: #4CAF50;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
}

.Pages {
  margin-top: 120px;
  min-height: 70vh;
}



button {
  background-color: rgba(247, 255, 250, 0.808);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 8px;
  border-color: #4CAF50;
  color: #4CAF50;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.082), 0 3px 10px 0 rgba(0, 0, 0, 0.062);
}

div.ciemno {
  position: fixed;
  right:    10px;
  bottom:   2px;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
