.menuBar{
  width: 1000px;
  height: 100px;
}

/* .menu h4 {
  color: rgb(255, 0, 0);
  text-decoration: none;
} */

.play-btn {
  text-align: center;
  padding: 0px;
  float: right;
  box-sizing: border-box;
  width: 25%;
  height: 60px;
}

.play-btn:hover {
  background-color: #4CAF50;
  color: white;
}