.MenuBlock {
  width: 100vw;
  height: 30px;
  margin: 0px;
  background: rgb(6, 17, 4);
  text-align: left;
}

.Nav {
  float:none;
}

.dropdown {
  float: left;
}

.MenuDrop {
  margin: 0px;
  float: none;
  box-sizing: border-box;
  display: block;
}

