.MenuBlock {
  width: 1000px;
  height: 30px;
  margin: 0px;
  background: rgb(19, 32, 12, 0.5);
  text-align: left;
}

.btn {
  font-size: 20px;
  letter-spacing: 7px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.menuShow button {
  min-height: 50vh;
}

.Nav {
  float:none;
}

.dropdown {
  float: left;
}

.MenuDrop {
  margin: 0px;
  float: none;
  box-sizing: border-box;
  display: block;
}

