.Application {
  margin: auto;
  width: 60%;
}

.column-3 {
  width: 75%;
  float: left;
}

.column-2 {
  width: 50%;
  float: left;
}

.column-1 {
  width: 25%;
  float: left;
}

button.calc-button {
  width: 100%;
  height: 80px;
  border: 2px, solid, rgba(192, 192, 192, 0.144);
  background: rgba(214, 214, 214, 0.801);
  font-size: 32px;
  color: rgb(124, 124, 124);
}

.result {
   margin: 10px;
   height: 80px;
   width: 90%;
   border: none;
   text-align: right;
   font-size: 32px;
}

.input-calc {
  clear: both;
}

.floaty-last {
  height: 6vh;
  z-index: 2;
  color: #4CAF50;
}