.chart-app {
  width: 100vw;
  max-width: 800px;
  text-align: center;
}

.info {
  margin-left: 0px;
  margin-bottom: 40px;
}

.line-graph, .donut-graph, .bar-graph, .my-chart {
  margin-bottom: 40px;
  max-width: 800px;
  width: 70vw;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
}
