.circle {
  width: 30vh;
  height: 30vh;
  background: url(../../img/002-van.png) no-repeat;
  background-position: 10px 10px;
  background-size: auto 90%;
  border-radius: 50%;
  border-bottom: 120px solid rgb(255, 243, 135);
  border-right: 120px solid rgb(218, 199, 34);
  border-left: 120px solid orange;
  border-top: 120px solid rgb(199, 173, 87);
  margin: auto auto;
  transition: all 9000ms cubic-bezier(0.44,-0.37, 1, 1.38);
  z-index: 1;
  -webkit-transition: all 9000ms cubic-bezier(0.44,-0.37, 1, 1.38);
  -moz-transition: all 9000ms cubic-bezier(0.44,-0.37, 1, 1.38);
  -ms-transition: all 9000ms cubic-bezier(0.44,-0.37, 1, 1.38);
  -o-transition: all 9000ms cubic-bezier(0.44,-0.37, 1, 1.38);
}

.circle:hover {
  transform: rotate(3600deg) scale(0);
}

.active {
  transform: rotate(3600deg);
  /* border-bottom-color: 120px solid rgb(199, 173, 87);
  border-top-color: 120px solid rgb(255, 243, 135);
  border-left-color: 120px solid rgb(218, 199, 34);
  border-right-color: 120px solid orange; */
}

.wheelBtn {
  margin: 20px -50px;
  z-index: 1;
  width: 100px
}

.dark, .switch, .cirle, .wheelBtn {
  position: absolute;
} 

.dark {
  width: 30vw;
  height: 30vh;
  background-color: transparent;
  z-index: 2;
  border-radius: 50%;
  top: 270px;
  left: 30px;
  transition: all 900ms ease;
}

.switch {
  width: 100px;
  height: 100px;
  border: 50px solid rgba(247, 255, 250, 0.808);
  z-index: 3;
  border-radius: 50%;
  box-sizing: border-box;
  top: 270px;
  left: 30px;
  animation: switchOff 3000ms linear infinite alternate;
}

.switch:hover {
  animation: none;
}

.switch:hover + .dark {
  background-color: rgb(9, 17, 9);
}

@keyframes switchOff {
  from {
    border: 0px solid rgba(247, 255, 250, 0.808);
    opacity: 0;
  }
  to {
    border: 50px solid rgba(247, 255, 250, 0.808);
    opacity: 1;
  }
}