.dropdown {
  margin-top:0px;
}
.MenuBlock {
float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top:45px;
  left: 20vw;
  width: 200px;
  background-color: white;
  font-weight:bold;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
li a {
  color: #000;
  text-decoration: none;
}
li {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
}
li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: #e5e5e5;
  color: white;
}
.button{
  font-family: 'Special Elite';
  font-size: 20px;
  width: 20vw;
  background-color: rgba(247, 255, 250, 0.808);
  -webkit-transition-duration: 0.4s;
  /*Safari*/transition-duration: 0.4s;
  border-radius: 5px;
  border-color: #4CAF50;
  color: #4CAF50;
  letter-spacing: 5px;
  /*text-transform: uppercase;
  */box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.082), 0 3px 10px 0 rgba(0, 0, 0, 0.062);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.button:before{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
  left: 20vw;
  top:18px;
}