.name {
  text-align: center;
  width: 80vw;
  max-width: 800px;
  margin: auto;
}

#hello {
  font-size: 30px;
  margin-top: 30px;
  padding: 30px;
}

#inputName {
  margin-bottom: 30px;
}

.description {
  padding-top: 8vh;
  letter-spacing: 6px;
  word-spacing: 7px;
}