.search {
  max-width: 900px;
  height: 80vh;
  text-align: center;
  margin: auto;
}

.searchUser {
  max-width: 180px;
  text-align: center;
  margin: auto;
}

.searchList {
  font-size: 20px;
  background: none;
  box-shadow: none;
  list-style-type: armenian;
  z-index: 1;
}

.searchList li {
  border-bottom: 0px;
}