.img {
  max-height: 250px;
  display: inline-block;
  margin: auto;
}

.choose div {
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
}

.choose button {
  margin: 10px;
}

.choose img, .choose button {
  padding: 0px;
  width: 25vw;
  height: 25vw;
  max-width: 230px;
  max-height: 230px;
}

.choose button:hover {
  border-radius: 50%;
}

.choose img {
  width: 100%;
  border-radius: 7px;
}

.choose img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  border-radius: 50%;
  transition: 900ms;
  -webkit-transition: 900ms;
  -moz-transition: 900ms;
  -ms-transition: 900ms;
  -o-transition: 900ms;
}

.choose div.gameInfo{
  margin-top: 15px; 
  background: white;
  padding: 20px;
  letter-spacing: 3px;
  line-height: 1.8;
}

.reset {
  margin-left: auto;
  margin-right:20px;
  float: right;
  margin-bottom: 50vw;
  letter-spacing: 3px;
  height: 30px;
  width: 30wv;
}

.reset:hover {
  background: #4CAF50;
  color: white;
}

.sumResults {
  text-align: center;
  height: 30px;
  margin-left: 0px;
}

.win, .lost {
  width: 30vw;
  max-width: 300px;
  display: inline-block;
  margin: auto auto;
  padding: 3vw;
}
