.tttGame {
  text-align: center;
}

.board {
  display: inline-block;
  width:54vw;
  width:54vw;
  max-width: 450px;
  max-height: 450px;
}

.board-row {
  max-height: 150px;
}

.square {
  vertical-align: middle;
  width: 18vw;
  height: 18vw;
  max-width: 150px;
  max-height: 150px;
  font-size: 20vh;
  padding-top: 2vh;
}

.tttButton {
  margin-top: 2vh;
}

@media only screen and (max-width: 768px) {
  .square {
    font-size: 36px;
  }
}

@media only screen and (max-width: 320px) {
  .square {
    font-size: 20px;
  }
}